:root{
    --img-height: 48px;
    --abi-size-ratio: 0.66;
}
#tlWrapper{
    position: relative;
    overflow-x: scroll;
}
#skill{
    /* position: absolute; */
    top: 30px;
    display: flex;
    height: calc(var(--img-height) * calc(var(--abi-size-ratio) + 1.0) * 1.1);
    /* height: 300px; */
    width: calc(var(--img-height) * 350);
}
#skill .gcd{
    width: var(--img-height);
    height: var(--img-height);
    padding-bottom: calc(var(--img-height) * var(--abi-size-ratio) * 1.1);
}
#skill .abi{
    width: calc(var(--img-height) * var(--abi-size-ratio));
    height: calc(var(--img-height) * var(--abi-size-ratio));
    padding-bottom: calc(var(--img-height) * 1.1);
}
img{
    position: absolute;
    left: 1px;
    top: 1px;
    margin: 1px;
}
#skill img{
    left: 0;
    margin: 0;
}
#skill .gcd > img{
    width: var(--img-height);
    height: var(--img-height);
    margin-top: calc(var(--img-height) * var(--abi-size-ratio) * 1.1);
}
#skill .abi > img{
    width: calc(var(--img-height) * var(--abi-size-ratio));
    height: calc(var(--img-height) * var(--abi-size-ratio));
}

/* スキルパネル内の設定 */
#skillpanel{
    width: calc(calc(var(--img-height) + 2px) * 7);
}
#skillpanel .wrapper{
    margin: 0px;
}
#skillpanel img{
    position: inherit;
    width: var(--img-height);
    height: var(--img-height);
    padding: 0;
}

.wrapper{
    position: relative;
}
.wrapper.gcd{
    margin-right: var(--img-height);
}
.wrapper.abi{
    margin-right: calc(var(--img-height) * var(--abi-size-ratio));
}


th{
    width: 48px;
    position: relative;
}
td{
    position: relative;
}

#time{
    display: flex;
    height: 30px;
}
#dot{
    display: flex;
    height: 30px;
}



.removeBtn {
    position: absolute !important;
    left: 3px;
    top: 3px;
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    border: 2px solid #333; /* 枠の調整 */
    border-radius: 50%;  /* 丸みの度合い */
    background: #fff; /* ボタンの背景色 */
}
.removeBtn::before, .removeBtn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px; /* 棒の幅（太さ） */
    height: 10px; /* 棒の高さ */
    background: #333; /* バツ印の色 */
}
.removeBtn::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.removeBtn::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.gcd > .removeBtn{
    margin-top: calc(var(--img-height) * var(--abi-size-ratio) * 1.1);
}
/* #time {
    height: 300px;
    position: relative;
}
#time::before {
    content: "";
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 47px);
    background-size: 48px 300px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */
